{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "editorconfig": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "endOfLine": "auto"
}